.intro-div {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.p-dropdown-trigger {
    display: contents;
}

.p-dropdown {
    background: none;
    border: none;
}

.p-dialog-content {
    padding: 0;
    overflow-y: hidden;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.card {
    user-select: none;
}

.p-overlaypanel-content {
    background-color: #4d25b0 !important;
    border-color: #abcb1a;
    border-style: solid;
}

.lights {
    filter: drop-shadow(0 0 4px purple) drop-shadow(0 0 6px purple) drop-shadow(0 0 10px purple);
}

.greenLights {
    filter: drop-shadow(0 0 4px #abcb1a) drop-shadow(0 0 6px #abcb1a) drop-shadow(0 0 10px #abcb1a);
}

.gif-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    pointer-events: none;
}

.overlay.active {
    display: block;
}

.rotate,
.rotate-reverse {
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(20deg);
    filter: brightness(40%);
}

.rotate-reverse {
    transform: rotate(0deg);
}

.p-terminal{
    max-height: 200px;
}

.custom-terminal {
    background-color: #000;
    width: 100%;
    height: 200px;
}

.custom-terminal-white {
    background-color: #fff;
    width: 100%;
    height: 200px;
}

.custom-terminal .p-terminal-welcome-msg,
.custom-terminal .p-terminal-prompt {
    color: rgb(0, 255, 0);
}

.custom-terminal-white .p-terminal-welcome-msg,
.custom-terminal-white .p-terminal-prompt {
    color: rgb(0, 255, 0);
}

.isLink {
    display: none;
}

.animated-image {
    position: absolute;
    top: -40px;
    right: 10px;
    width: 150px;
    height: 150px;
    transition: top 0.1s ease-out, transform 0.1s ease-out;
    transform: rotate(180deg);
    opacity: 0;
}

.animated-image.show {
    top: -28px;
    transform: rotate(180deg);
    opacity: 1;
}

.animated-image-hide {
    top: -40px;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s ease-out;
}

.layout-main-container {
    overflow-x: hidden;
}

.spotify-img {
    border: solid 0.5px #1db954;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 15px
}

.spotify-texts {
    color: #999;
    margin-top: -3px;
    line-height: 1;
    width: 80%
}

.spotify-title {
    margin-left: 12%;
    margin-top: 20%;
}

.cluster{
    display: grid;
    grid-template: repeat(2,1fr)/ repeat(2,1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
}

.grid-2{
    display: grid;
    grid-template: repeat(auto-fill,270px) / repeat(auto-fill,270px);
}


.mapboxgl-control-container{
    display: none;
}

.mapboxgl-canvas{
    width: 100%;
    height: 100%;

}
@media screen and (min-width: 1960px) {
    .layout-main-container {
        padding: 50px 200px 10px 200px !important;
        padding-left: 200px !important;
    }
}

@media (min-width: 992px) {
    .layout-main-container {
        padding: 50px 200px 10px 200px !important;
        padding-left: 200px !important;
    }

    .stroke-white{
        height: 1.5rem;
        margin: 2rem !important;
    }
}

@media (max-width: 991px) {

    .layout-main-container {
        padding: 2rem !important;
        padding-left: 25px !important;
        font-size: 5px !important;
    }

    .spotify{
        grid-column: span 2;
    }

    .stroke-white{
        height: 1.5rem;
        margin: 2rem !important;
    }

    .localizacao{
        display: none;
    }
    
    #Anilist {
        display: none;
    }
        
    #Threejs{
        display: none;
    }

    .gif-container {
        width: 80%;
    }

    .spotify {
        margin-top: 0px !important;
    }

    .spotify-img {
        width: 40px !important;
        height: 40px !important;
    }

    .spotify-texts {
        font-size: 12px !important;
    }

    .spotify-title{
        font-size: 3em !important;
    }

}