/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/tailwind.css';
@use '@/assets/layout/layout.scss';
@use '@/assets/demo/demo.scss';

/* Arquivo global.css ou <style> sem scoped */
body,
.p-component-overlay,
.p-dialog {
    overflow: visible !important;
}

.p-dialog {
    max-width: none !important;
    max-height: none !important;
    transform: none !important;
    top: auto !important;
    left: auto !important;
}

.p-dialog {
    transform: none !important;
}
